Repository 9oormthon-univ/2025_SEASONTHON_TEAM_62_FE, pull requests merged in 2025-09, with the labels that each got.

#3 Feat: git template 설정
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/design.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/refactor.yml
  .github/ISSUE_TEMPLATE/setting.yml
  .github/pull_request_template.md
Labels: ⚙ Setting

#5 init: react 초기세팅, eslint, prettierrc
  .gitignore
  .prettierrc
  README.md
  eslint.config.ts
  index.html
  package.json
  pnpm-lock.yaml
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Labels: ⚙ Setting

#34 Feat: axios 초기설정
  .env
  .gitignore
  package.json
  pnpm-lock.yaml
  src/pages/home/HomePage.tsx
  src/routes/index.tsx
  src/shared/apis/.gitkeep
  src/shared/apis/api.ts
  tsconfig.app.json
  vite.config.ts
Labels: 📬 API

#45 Feat: 경로찾기 UI, 러닝시작 모달 추가
  src/assets/svg/arrow.svg
  src/assets/svg/left-arrow2.svg
  src/pages/mate/page.tsx
  src/pages/running/[id].tsx
  src/pages/running/components/listItem.tsx
  src/pages/running/components/runningBottomSheet.tsx
  src/pages/running/components/startRunModal.tsx
  src/pages/running/page.tsx
  src/pages/running/path.tsx
  src/routes/index.tsx
  src/shared/components/kakaomap/routeFromLinks.tsx
  src/shared/icons/ic_arrow.tsx
  src/shared/icons/ic_leftarrow2.tsx
  src/shared/icons/index.ts
Labels: ✨ Feature, 🎨 Desgin

#53 Feat: 즐겨찾기, 상세 API 연결, 로그인 초기로직
  src/assets/svg/google.svg
  src/pages/login/LoginPage.tsx
  src/pages/login/components/googleLoginButton.tsx
  src/pages/mate/components/tagWithDropdown/bottomSheet.tsx
  src/pages/mate/components/tagWithDropdown/mainDropdown.tsx
  src/pages/running/[id].tsx
  src/pages/running/page.tsx
  src/shared/apis/api.ts
  src/shared/apis/login/authApi.ts
  src/shared/apis/running/favoritesApi.ts
  src/shared/icons/ic_google.tsx
  src/shared/icons/index.ts
  src/shared/layouts/global-layout.tsx
Labels: ✨ Feature, 📬 API

#64 feat: 경로 완주 요청 api
  src/pages/complete/completePage.tsx
  src/pages/running/pathPage.tsx
Labels: 📬 API
